@*Criamos um componente customizado para exibição de mensagens de sucesso 
    Deixamos no Shared pra poder utilizar em todos os modulos (Clientes, Fornecedores)*@

<div class="card-panel teal lighten-2">@TempData["Sucesso"]</div>
