

@*Temos um recurso chamado View Mobile, existe desde a versão 4.0 do MVC serve pra criar 1 versão mobile de uma determinada tela
    Se o usuário entrar na pagina peli desktop sobe a versão normal Listar.cshtml
    Se o usuário entrar na pagina pelo Smartphone ou Tablet (se for telinha) vai subir a versão Mobile da tela de listar
    Listar.Mobile.cshtml*@

<ul class="table-view">
    <li class="table-view-cell media">
        <a class="navigate-right">
            <span class="media-object pull-left icon icon-trash"></span>
            <div class="media-body">
                Item 1
            </div>
        </a>
    </li>
    <li class="table-view-cell media">
        <a class="navigate-right">
            <span class="media-object pull-left icon icon-gear"></span>
            <div class="media-body">
                Item 2
            </div>
        </a>
    </li>
    <li class="table-view-cell media">
        <a class="navigate-right">
            <span class="media-object pull-left icon icon-pages"></span>
            <div class="media-body">
                Item 3
            </div>
        </a>
    </li>
</ul>